<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.Work.ChapterActivity"></activity>
        <activity android:name=".Activity.Work.EditChapterActivity" />
        <activity android:name=".Activity.Work.EditBookActivity" />
        <activity android:name=".Activity.Book.BookActivity" />
        <activity android:name=".Activity.Favorite.SearchFavoriteActivity" />
        <activity android:name=".Activity.History.SearchHistoryActivity" />
        <activity android:name=".Activity.Work.EditIntroActivity" />
        <activity android:name=".Activity.Work.EditTitleActivity" />
        <activity android:name=".Activity.Work.NewBookActivity" />
        <activity android:name=".Activity.Work.SearchMyWorkActivity" />
        <activity android:name=".Activity.Work.NewChapterActivity" />
        <activity android:name=".Activity.Favorite.FavoriteActivity" />
        <activity android:name=".Activity.History.HistoryActivity" />
        <activity android:name=".Activity.Work.PersonalWorkActivity" />
        <activity android:name=".Activity.Home.SearchActivity" />
        <activity android:name=".Activity.Account.EditInfoActivity" />
        <activity android:name=".Activity.LogSign.MsgAfterEmailActivity" />
        <activity android:name=".Activity.Setting.SettingActivity" />
        <activity
            android:name=".Activity.LogSign.SignActivity"
            android:parentActivityName=".Activity.LogSign.LogActivity" />
        <activity android:name=".Activity.LogSign.LogActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>